# Xcode
xcuserdata/
.DS_Store
build/
*.xcworkspace/xcshareddata/
*.xcodeproj/xcuserdata/

# Python
__pycache__/

DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/
